@charset "UTF-8";
html {
    font-size: 100%;
}

/*ページタイトルの設定*/
.page-title{
    font-family: 'Google Sans Flex';
    font-weight: 600;
    justify-content: flex-start;
    text-align:left;
}

/*全体のフォント設定*/
body {
    font-family: 'Noto Sans JP';
    font-weight: 400;
    line-height: 1.8;
    color: #333;
    text-align: center;
}

/*ヘッダーとナビゲーションの設定*/
.page-title{
    margin: 20px;
}
.main-nav{
    margin-right: 20px;
    margin-bottom: 40px;
}

.page-header{
    padding-top: .5rem;
}

.main-nav{
    font-family: 'Open Sans';
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 1.5rem;
    list-style: none;
}

h1, h2, h3 {
    font-family:'IBM Plex Sans JP';
    line-height: 1.5;
    color: #432;
    text-align: center;
}

.subhead h3{
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
    text-align: center;
}

.intro{
    margin: 1%;
    padding: 1%;
}

a {
    text-decoration: none;
    color: teal;   
}

.index-items, a{
    color: black;
}


.req{
    color:crimson;
}

/* 自己紹介の表 */
.introduce-table{
    margin: auto;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid gray;
    padding: 10px;
}

.introduce-table th, .introduce-table td{
    border: 1px solid gray;
    padding: 10px;
}

/*フォームの設定*/
.form{
    align-items: right;
    margin-left: auto;
    margin-right: auto;
}

input, textarea{
    width: 300px;
    height: 30px;
    border-color:#432;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

textarea{
    height: 150px;
}

/*ボタンとインデックスアイテムのホバー設定*/
.btn, .index-items{
    display:inline-block;
    background-color: white;
    color: black;
    transition: 0.3s ease;
    height: auto;
    padding: 10px 20px;
}

.btn:hover, .index-items:hover{
    transition: 0.3s ease;
    background-color: black;
}

.index-items, .index-name{
    color: black;
    transition: 0.3s ease;
}

.index-items:hover, .index-name:hover {
    color: white;
    transition: 0.3s ease;
}

.index-items:hover p {
    color: white;
    transition: 0.3s ease;
}

.index-items, .p{
    color: black;
    transition: 0.3s ease;
}

/*フォームのボタンとフォーム全体の設定*/

form{
    margin-top: 60px;
    margin-bottom: 40px;
}

.form-button{
    display: inline-block;
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

.form-button:hover{
    background-color: teal;
    color: white;
    transition: 0.3s ease;
}

/*注釈用のフォントサイズ*/
.note{
    font-size: small;
}

/*スマホ用のレスポンシブ対応 - コンテナ表示*/
.index-container, .container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    max-height: 300px;
    width: auto;
    margin-bottom: 100vh;
}

.projects-container, .container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    width: auto;
    max-height: auto;
    margin-bottom: 100vh;
}

/*　Projectsで使うタイル設定　*/
.project-item{
        margin: auto;
        padding: auto;
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
   }

/*indexのメニュー用*/
.btn, .index-items{
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    gap: 20px;
    height: auto;
}

.large-item{
    margin: 2rem;
    padding: 2rem;
    border-radius: 8px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    gap: 10%;
    height: auto;
}

.grid{
    display: grid;
    gap: 1rem .5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.project-item, img{
    object-fit:contain;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 16px;
    border-color: gray;
    max-width: 100%;
    max-height: 100%;
}


/* フッターの設定 */
footer{
    background-color: #1b1b1b;
    color:white;
    background-size: cover;
    border-radius: .5rem;
    border-style: solid;
    border-color: gray;
}

/*パソコン用の表示設定*/
@media screen and (min-width: 768px){
    .main-nav li{
        display: inline;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        width: 2fr;
        margin-bottom: 100vh;
    }

    .form{
        align-items: center;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    input, textarea{
        width: 500px;
        height: 40px;
        border-color:#432;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
    }
    /*　Projectsで使うタイル設定　*/
    .project-item{
        margin: 30px;
        padding: 10px 40px;
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
    }
    
    textarea{
        height: 10rem;
    }
}
